<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/catalog.css' />
  </head>
  <body>
   <a id="OptionsLink">Options</a>
    <script src="/javascripts/options.js"></script>
  </body>
</html>
