<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/image.css' />
  </head>
  <body>
  <div style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center">
    <img src="/images/<%=image_link%>">
  </div>
  </body>
</html>
