<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/b">b</a>
    <a href="/his">his</a>
    <a href="/lit">lit</a>
    <a href="/mu">mu</a>
    <a href="/pol">pol</a>
  </body>
</html>
