<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <a href="/b">b</a>
    <a href="/his">his</a>
    <a href="/lit">lit</a>
    <a href="/mu">mu</a>
    <a href="/pol">pol</a>
    <a id="OptionsLink">Options</a>

    <script src="/javascripts/options.js"></script>
  </body>
</html>
