@import "common.css";


.imageBeforeClick{
  background-size: contain;
  max-height: 125px;
  max-width: 125px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}


#reply_form{
  display: none;
}

#floating_reply_form {
  display: none;
  /*display: flex;*/
  flex-direction: column;
  position: fixed;
  z-index: 999;
  background-color: white;
  border: 1px solid #ddd;
}


#draggable_header {
  -webkit-user-select: none;
  font-size: 10pt;
  text-align: center;
  padding: 0;
  height: 18px;
  background-color: #1618a9;
  font-weight: 700;
  border: 1px solid #000;
}

#floating_username{
  width: 286px;
}

#floating_text{
  min-height: 25px;
  width: 286px;
  min-width: 286px;
  margin-bottom: 10px;
}

#username{
  width: 244px;
}


#replyLinkSpan{
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

#replyLinkSpan{
  text-align: center;
}

.opThread{
  display: inline;
  margin: 4px;
}

.post_username{
  margin-left: 5px;
  margin-right: 5px;
  color: #dfd343;
}
.post_time{
  margin-right: 5px;
}
.postMessage{
  display: block;
  white-space: pre-wrap;
}
.post_div{
  padding-top: 10px;
  padding-bottom: 10px;
}
.reply_div{
  width: fit-content;
  max-width: 80%;
  background-color: #3C3C3C;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

#thread_subject{
  color: #f30400;
  font-weight: bolder;
  font-size: larger;
}

.post_id{
  color: #dadada;
}
.post_id:hover{
  color: #f30400;
}
.threadImage{
  max-height: 250px;
  max-width: 250px;
}


#thread{
  display: flex;
  flex-direction: column;
  border-top: 1px groove #1618a9;
  border-bottom: 1px groove #1618a9;
  padding-top: 10px;
  padding-bottom: 10px;
}

.arhiviranHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f30400;
}
.quote {
  color: #a7d235;
}


@media only screen and (max-width: 480px){
  .imageBeforeClick{
    max-width: 100px;
    max-height: 100px;
    object-fit: scale-down;
  }
  .opThread{
    padding: 5px;
    display: block;
    overflow: hidden;
  }
}